# shufflewall.service

[Unit]
Description=Change lock screen image for betterlockscreen periodically

[Service]
User=badgy
Type=simple
ExecStart=betterlockscreen -u $HOME/scripts/lock/wp/
Environment="DISPLAY=:0"
Environment="XAUTHORITY=$HOME/.Xauthority"

[Install]
RequiredBy=default.target
